@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
li {
  display: inline;
  border-right: 2px solid gray;
}
li a {
  text-decoration: none;
  color: tomato;
  padding: 0px 10px;
  font-family: "Potta One", cursive;
  font-weight: larger;
}
li a:hover {
  background-color: tomato;
  color: white;
}
@media only screen and (max-width: 600px) {
  li {
    display: block;
  }
}
